.sidebarm {
    padding: 10px;
    background-color: #f8f8f8;
    width: 260px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.user-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.dp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 16px;
    font-weight: 600;
}

.emailhong {
    font-size: 13px;
    color: gray;
}

.compose {
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 8px;
    cursor: pointer;
}

.section {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-title {
    font-weight: bold;
    color: #555;
    font-size: 15px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    padding: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.item svg {
    margin-right: 10px;
}

.item:hover {
    background-color: #e0e0e0;
}

.item.active {
    background-color: #d6d6d6;
    font-weight: 600;
}

.count {
    font-size: 13px;
    color: white;
    background-color: red;
    padding: 2px 6px;
    border-radius: 12px;
    font-weight: bold;
}

.label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    padding: 4px 8px;
}

.dot {
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 20%;
  border: 2px solid gray;
  background-color: white;
  cursor: pointer;
}
.dot:checked {
  background-color: currentColor;
}

.dot.work {
  border-color: #FFD000;
  color: #FFD000;
}

.dot.external {
  border-color: red;
  color: red;
}



.dot.team {
  border-color: green;
  color: green;
}
.dot.applications{
    border-color: #343C6F;
    color: #343C6F;
}
.dot.design{
    border-color: rgb(42, 42, 221);
    color: rgb(42, 42, 221);
}
.plus{
    background-color: white;
    color: rgb(255, 136, 0);
    font-size: large;
}
.projects{
    font-size: large;
    color: red;
}

.personal{
    font-size: large;
    color: rgb(255, 166, 0);
}

.finance{
     font-size: large;
    color: green;
}
.projectk{
    font-size: large;
    color: rgb(255, 94, 0);
}
.border-bootom{
    border-bottom: 1px solid #e8e9eb;
    padding-bottom: 18px;
}
